body{
    background-color: #eb8f04;
  color: #fdffff;
  width: 500px;
  margin:auto auto;
}

button{
    padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
  color: #fdffff;

}

input {
    height: 20px;
  }
